.col-md-4
  %h3 Personal Lists
    = render partial: 'list', collection: @lists.personal
  = link_to 'Create List', new_list_path, class: 'btn btn-primary'
.col-md-4
  %h3 Community Lists
    = render partial: 'list', collection: @lists.community
.col-md-4
  %h3 Staff Lists
    = render partial: 'list', collection: @lists.staff
