<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @list.category %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
