# Ignore bundler config
/.bundle

# Ignore IDEA config
/.idea

# Ignore all logfiles and tempfiles
/log
/tmp

# Ignore Mac OS X specific files
.DS_Store

# Ignore local enviroment variables config
.env
