.large-4.columns
    %ul.pricing-table
        %li.bullet-item
            =image_tag i.artwork
        %li.title=i.title
        %li.price=i.artist
        %li.description=i.year
        %li.bullet-item=i.label
        %li.bullet-item=i.date
        %li.cta-button
            %a.button{:href => i.url}=i.score