.well.well-sm
    .row
        .col-md-4            
            =image_tag(i.artwork, :class => "img-thumbnail center-block")
        .col-md-8
            %h2=i.title
            %h2=i.artist
            %h3=i.year
            %h4=i.label
            %h5=i.date            
            %a.btn.btn-danger.btn-lg{:href => i.url}=i.score