- title 'Users'

.container
  .row
    %h3
      Users
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th= 'Email'
          %th= 'Role'
          %th= 'Action'
      %tbody.text-center
        - @users.each do |user|
          %tr= render user
