- title 'Users'

.col-xs-12
  .row
    .col-xs-12
      %h3<
        Users
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th= 'Email'
            %th= 'Role'
            %th= 'Action'
        %tbody.text-center
          - @users.each do |user|
            %tr= render user
