.container
  .row
    %h3
      Users
    %table.table
      %thead
        %tr
          %th= 'Email'
          %th= 'Role'
          %th= 'Action'
      %tbody
        - @users.each do |user|
          %tr= render user
