.navbar.navbar-default.navbar-inverse.navbar-static-top
  .container
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Interpol", article_path("Interpol")
        %li
          = link_to "Ducktails", article_path("Ducktails")
        %li
          = link_to "Julia Holter", article_path("Julia Holter")
        %li
          = link_to "The Flaming Lips", article_path("The Flaming Lips")
