- title params[:artist] ? params[:artist] : 'Albums'

.col-lg-3.col-md-4
  .well.well-sm#dash
    = render 'dash'

.col-lg-9.col-md-8
  = render partial: 'shared/card', collection: @albums
  = paginate @albums
