= render partial: 'shared/card', object: @album

= link_to 'Edit', edit_album_path(@album)
= link_to 'Destroy', @album, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back', albums_path
