// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  font-family: 'Crete Round', serif;
}

.score {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 130px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid;
  margin: 50px;
  height: 150px;
  width: 150px;
}

.bnm {
  color: red;
  border: 10px solid red;
}

.bnr {
  color: limegreen;
  border: 10px solid limegreen;
}

.dim {
  color: grey;
  border: 10px solid grey;
}

.artwork {
  min-height: 250px;
  min-width: 250px;
}
