$font-stack: 'Raleway', 'Helvetica', sans-serif;
$red: #c9302c;
$green: #5cb85c;
$grey: #808080;

.artwork {
  min-height: 250px;
  min-width: 250px;
}

.rating {
  border: 10px solid;
  border-radius: 50%;
  font-size: 64px;
  font-weight: 900;
  height: 150px;
  line-height: 130px;
  margin: 50px;
  text-align: center;
  vertical-align: middle;
  width: 150px;

  @media (max-width: 1199px) {
    display: block;
    margin: 25px auto 10px;
  }
}

.card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-stack;
  }

  @media (max-width: 1199px) {
    text-align: center;
  }
}

.bnm {
  border: 10px solid $red;
  color: $red;
}

.reissue {
  border: 10px solid $green;
  color: $green;
}

.dim {
  border: 10px solid $grey;
  color: $grey;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead > tr > th {
  text-align: center;
}

.affix {
  top: 15px;
  width: 262.5px;

  @media (max-width: 1199px) {
    width: 293.328px;
  }

  @media (max-width: 991px) {
    position: static;
    top: 0;
    width: auto;
  }
}

.pagination {
  margin: 5px 0;
}

.dir {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 5px;
}

.toggler .active {
  display: none;
}

.toggler span {
  top: 2px;
}
