// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  font-family: 'Crete Round', 'Georgia', serif;
}

.rating {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 130px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid;
  margin: 50px;
  height: 150px;
  width: 150px;
}

.bnm {
  color: #c9302c;
  border: 10px solid #c9302c;
}

.reissue {
  color: #5cb85c;
  border: 10px solid #5cb85c;
}

.dim {
  color: grey;
  border: 10px solid grey;
}

.artwork {
  min-height: 250px;
  min-width: 250px;
}

.affix {
  top: 15px;
  width: 262.5px;
}
