@import 'bootstrap';
@import 'ion.rangeSlider';
@import 'ion.rangeSlider.skinFlat';
@import 'albums';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url(asset-path('glyphicons-halflings-regular.eot'));
  src: font-url(asset-path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
    font-url(asset-path('glyphicons-halflings-regular.woff')) format('woff'),
    font-url(asset-path('glyphicons-halflings-regular.ttf')) format('truetype'),
    font-url(asset-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
