$images-height: 1920px;
$gradient-start: rgba(0, 0, 128, .65);
$gradient-end: rgba(128, 0, 0, .7);

.landing-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.images,
.gradient {
  position: absolute;
  width: inherit;
  height: inherit;
}

.images {
  z-index: 10;
  height: $images-height;
  animation: slide 90s linear infinite;
  will-change: transform;
  background: url('wall.jpg') repeat;
}

.gradient {
  z-index: 20;
  background: linear-gradient(to right, $gradient-start, $gradient-end);
}

.words {
  z-index: 30;
  padding: 100px;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
  position: absolute;
}

@keyframes slide {
  from { transform: translateY(0); }
  to { transform: translateY(-$images-height / 2); }
}
